.footer_top > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.footer_top > ul > li,
.footer_bottom {
  font-size: 13px;
  font-weight: 500;
}
.container_footer {
  width: 1320px;
  margin: auto;
  text-align: center;
}
